.img-perfil{
    width: 115px ;
    border-radius: 70%;
}
#conteinerEquipe{
    display: flex;
    gap: 20px;
    margin: 50px;
}
.foto{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#tt{
    display: flex;
justify-content: center;


}
#dd{
    display: flex;
    justify-content: center;

} 







   html{
    margin: 0;
    height: 100%;
    padding: 0;

}

body{

    height: 100%;
    
    margin: 0;
    padding: 0;

}

#container{

    height: 100%;
    background-color: #b8b6b6 ;
    
   
    

}

#nav-bar{
    height: 20%;
    background-color: rgb(41, 40, 40);
     
    

}

#cadastro
{
    height: 80%;
    background-color: #b8b6b6;
    display: block;

}

label{
    color: #fefefe;
    cursor: pointer;

}

label:hover{

    color: rgb(123, 119, 119);
    font-weight: bold;
    transition: 1.05s;


}
#editar
{
    height: 80%;
    background-color: #b8b6b6;
    display: block;

}

#deletar
{
    height: 80%;
    background-color: #b8b6b6;
    display: block;

}
#listar
{
    height: 80%;
    background-color: #b8b6b6;
    display: block;

}
#equipe
{
    height: 80%;
    background-color: rgb(0, 252, 67);
    display: block;

}

#listify{

    margin: 30px;
    


}

.foto{

    display: flex;
    align-items: center;
    justify-content: center;
    

}

.img-perfil{
    width: 115px ;
    border-radius: 70%;
}

#tt{
    display: flex;
justify-content: center;


}
#dd{
    display: flex;
    justify-content: center;

} 
.cad{
    
   
    background-color: rgb(221, 212, 212) ;
    border-radius: 10px;
    text-align: center;
    padding: 50px ;
    height: 60%;
    width: 30%;
    margin: 60px;
    
}

.edit{
    
   
    background-color: rgb(221, 212, 212) ;
    border-radius: 10px;
    text-align: center;
    padding: 50px ;
    height: 60%;
    width: 30%;
    margin: 60px;

}

#username{
    border-radius: 20px;
    border-color: black;

}
#password{
    border-radius: 20px;
    border-color: black;
}

#cadastros{

    border-radius: 20px;
    width: 95%;
    height: 75px;
    background-color: #f4f07d;
    font-size: 30px;
    
}

/* #Confirmar{

    border-radius: 20px;
    width: 500px;
    height: 75px;
    background-color: #f4f07d;
    font-size: 30px;

} */

#email{

    border-radius: 20px;

}

#emai{

    border-radius: 20px;

}

#Confirmar{

    border-radius: 20px;
    background-color: #f4f07d;
    width: 95%;
    height: 75px;
    font-size: xx-large;

}

input{
    width: 90%;
    height: 50px;
    border-radius: 15px;
    font-size: x-large;
}
.buttons {
      margin: 0px 70px 0px 70px; 
      font-size: 18px;
      
   
   
}

.del{

    background-color: rgb(221, 212, 212) ;
    border-radius: 10px;
    text-align: center;
    padding: 50px ;
    height: 60%;
    width: 30%;
    margin: 60px;

}

#deleta{

    /* border-radius: 20px;
    width:95% ;
    height:75%;
    background-color: #f4f07d;
    font-size: 30px; */

    border-radius: 20px;
    background-color: #f4f07d;
    width: 95%;
    height: 75px;
    font-size: xx-large;


}

